@page  "/Clientes"
<h3>Modulo de Clientes</h3>
<p>Tabla de Clientes:</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>DNI del Cliente</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>

<input type="button" style="background-color:lawngreen" value="Agregar" class="btn btn-primary" />
<input type="button" style="background-color:blue" value="Modificar" class="btn btn-primary" />
<input type="button" style="background-color:red" value="Borrar" class="btn btn-primary" />


@code {

}
