@page  "/Computadoras"
    <h3>Modulo de Computadoras</h3>
    <p>Tabla de Computadoras:</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Fecha de Llegada</th>
                <th>Precio</th>
                <th>Desc.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>

    <input type="button" style="background-color:lawngreen" value="Agregar" class="btn btn-primary" />
    <input type="button" style="background-color:blue" value="Modificar" class="btn btn-primary" />
    <input type="button" style="background-color:red" value="Borrar" class="btn btn-primary" />

    @code {

    }
