@page  "/CRUD_Clientes/Clientes"
<h3>Modulo de Clientes</h3>
<p>Tabla de Clientes:</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>DNI del Cliente</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
        </tr>
    </thead>

</table>

<button class="btn btn-primary" style="background-color:#00C738"> 
    <span class="oi oi-plus" aria-hidden="true"></span> Agregar
</button>
<button class="btn btn-primary" style="background-color:#1DB4F5"> 
    <span class="oi oi-pen" aria-hidden="true"></span> Modificar
</button>
<button class="btn btn-primary" style="background-color:#FB0000"> 
    <span class="oi oi-trash" aria-hidden="true"></span> Eliminar
</button>



@code {

}
